.card{    
    width: 224px;
    height: 275px;
    margin: 1em;
    transition: box-shadow 0.3s;
    box-shadow: 2px 2px 2px rgb(70,70, 70);
    border-radius: 2px;
}
.product-picture{
    height: auto;
    width: auto;
    margin: 0 auto;
}