.card{
    width: 14em;
    height: 15em;
    margin: 1em;
    transition: box-shadow 0.3s;
    box-shadow: 2px 2px 2px rgb(70,70, 70);
    border-radius: 20px;
    border-color: rgb(70, 70, 70);
}
.product-picture{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}
.card:hover{
    box-shadow: 5px 5px 5px rgb(70, 70, 70);
    cursor: pointer;
    border-color: rgb(70, 70, 70);
}