.navbar{
    height: 100px;
    position: fixed;
    top: 0;
    transition: height 0.3s;
    border-bottom: 0.4px #d1d1d1 solid;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 100%;
}
.btn-light{
    border: 1px solid #575757;
}
.btn-navbar-block{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#shopping_cart{
    width: 42px;
    height: fit-content;
    border: 1px solid;
    border-radius: 28px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.2s;
}

#badge-login{
    font-size: 5px;
}