.badge{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    background-image: linear-gradient(transparent , black);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.profile-picture{
    height: 4em;
    width: 4em;
    border: 5px rgb(75, 75, 75) solid;
    border-radius: 2em;
}